
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 50%;
    background-position:center;
    background-image: url(../images/CIT-LOGO-BN-FONDO.png) ;
    color:whitesmoke;
    background-color: black;
    
    
}

header {
    margin-top: 0px;
    padding: 0px;
    background-color: #343434;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    
}

.navbar {
    margin-top: 0px;
    font-size: 120%;
    text-align: center;
    align-items:center;
    /*box-shadow: 0px 0px 20px 5px rgb(243, 181, 56);*/
}

.navbar-text {
    margin-top: 0px;
    color: rgb(243, 180, 56);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
}

.nav-item {
    text-align: center;
    align-items: center;
    text-decoration:none;
    margin: 0px;
}
.nav-link{
    margin-top: 0px;
    color: #F3B438;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
}
.nav-link:visited{
    color: #F3B438;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
}
.nav-link:hover {
    color: honeydew;
    background-color: indigo;
    border-radius: 10px;
    text-shadow: 2px 2px 2px darkgrey;
}
.navbar-nav {
    margin-top: 0px;
    text-align: center;
    align-items: center;
}

#content {
    background-color: rgba(169, 169, 169, 0.253);
    background-clip:content-box;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    padding: 1%;
    color: white;
    border-radius: 30px;
}

#promos {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    justify-content: center;
    padding: 1%;
    color: white;
    height: 500px;
    border-radius: 30px;
    text-align: center;
}

a {
    text-decoration-style: none;
    text-decoration-line: none;

}

#tickers {
    box-shadow: 0px 0px 20px 5px rgb(243, 181, 56);
    font-weight: bold;
    font-style: italic;
    font-size: 80%;
    background-color: black;
}

.nav-link img {
    width: 20px;
    height: 20px;
}

#price {
    font-style: normal;
    color: lightgray;
}

#table {
    font-size: 120%;
}

#table thead {
    color: white;
    text-align: center;


}

#table-body {
    border: white;
    text-align: center;

}

#table-body td{
    color: white;
    background-color: rgba(169, 169, 169, 0.253);


}
#table-body th{
    color: white;
    background-color: rgba(169, 169, 169, 0.253);

}

#table-body img {
    width: 24px;
    height: 24px;


}

.btn.btn-warning {
    background-color: #F3B438;
    width: 50%;
    line-height: 200%;
    font-size: 120%;
    font-weight: bold;
    border-radius: 20px;
}

.btn.btn-warning:hover {
    background-color: #f0be5a;
}
